header{ 
    height: 100px;
    width: 900px;
    margin: auto;
     background-color: hotpink;
}
main{ 
    height: 500px;
    width: 900px;
    margin: auto;
    border: 4px solid blue;
}
footer{ 
    height: 100px;
    width: 900px;
    margin: auto;
    border:4px solid  green;
}
form{ 
    background-color: hotpink;
    border-radius: 10px;
}